<%= form_with(model: work_location) do |form| %>
  <% if work_location.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(work_location.errors.count, "error") %> prohibited this work_location from being saved:</h2>

      <ul>
        <% work_location.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :location_type_id, style: "display: block" %>
    <%= form.number_field :location_type_id %>
  </div>

  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :phone_number, style: "display: block" %>
    <%= form.text_field :phone_number %>
  </div>

  <div>
    <%= form.label :website, style: "display: block" %>
    <%= form.text_field :website %>
  </div>

  <div>
    <%= form.label :city, style: "display: block" %>
    <%= form.text_field :city %>
  </div>

  <div>
    <%= form.label :state, style: "display: block" %>
    <%= form.text_field :state %>
  </div>

  <div>
    <%= form.label :zip_code, style: "display: block" %>
    <%= form.text_field :zip_code %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.textarea :description %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>


  <div>
    <%= form.label :requires_purchase, style: "display: block" %>
    <%= form.checkbox :requires_purchase %>
  </div>

  <div>
    <%= form.label :membership, style: "display: block" %>
    <%= form.checkbox :membership %>
  </div>

  <div>
    <%= form.label :sunday_opening_time, style: "display: block" %>
    <%= form.time_field :sunday_opening_time %>
  </div>

  <div>
    <%= form.label :monday_opening_time, style: "display: block" %>
    <%= form.time_field :monday_opening_time %>
  </div>

  <div>
    <%= form.label :tuesday_opening_time, style: "display: block" %>
    <%= form.time_field :tuesday_opening_time %>
  </div>

  <div>
    <%= form.label :wednesday_opening_time, style: "display: block" %>
    <%= form.time_field :wednesday_opening_time %>
  </div>

  <div>
    <%= form.label :thursday_opening_time, style: "display: block" %>
    <%= form.time_field :thursday_opening_time %>
  </div>

  <div>
    <%= form.label :friday_opening_time, style: "display: block" %>
    <%= form.time_field :friday_opening_time %>
  </div>

  <div>
    <%= form.label :saturday_opening_time, style: "display: block" %>
    <%= form.time_field :saturday_opening_time %>
  </div>

  <div>
    <%= form.label :sunday_closing_time, style: "display: block" %>
    <%= form.time_field :sunday_closing_time %>
  </div>

  <div>
    <%= form.label :monday_closing_time, style: "display: block" %>
    <%= form.time_field :monday_closing_time %>
  </div>

  <div>
    <%= form.label :tuesday_closing_time, style: "display: block" %>
    <%= form.time_field :tuesday_closing_time %>
  </div>

  <div>
    <%= form.label :wednesday_closing_time, style: "display: block" %>
    <%= form.time_field :wednesday_closing_time %>
  </div>

  <div>
    <%= form.label :thursday_closing_time, style: "display: block" %>
    <%= form.time_field :thursday_closing_time %>
  </div>

  <div>
    <%= form.label :friday_closing_time, style: "display: block" %>
    <%= form.time_field :friday_closing_time %>
  </div>

  <div>
    <%= form.label :saturday_closing_time, style: "display: block" %>
    <%= form.time_field :saturday_closing_time %>
  </div>

  <div>
    <%= form.label :sunday_closed, style: "display: block" %>
    <%= form.checkbox :sunday_closed %>
  </div>

  <div>
    <%= form.label :monday_closed, style: "display: block" %>
    <%= form.checkbox :monday_closed %>
  </div>

  <div>
    <%= form.label :tuesday_closed, style: "display: block" %>
    <%= form.checkbox :tuesday_closed %>
  </div>

  <div>
    <%= form.label :wednesday_closed, style: "display: block" %>
    <%= form.checkbox :wednesday_closed %>
  </div>

  <div>
    <%= form.label :thursday_closed, style: "display: block" %>
    <%= form.checkbox :thursday_closed %>
  </div>

  <div>
    <%= form.label :friday_closed, style: "display: block" %>
    <%= form.checkbox :friday_closed %>
  </div>

  <div>
    <%= form.label :saturday_closed, style: "display: block" %>
    <%= form.checkbox :saturday_closed %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
