<div id="<%= dom_id work_location %>" class="container mt-4">
  <h4 class="mb-4 text-center">Work Location Details</h4>

  <table class="table table-bordered w-50 mx-auto">
    <tbody>
      <tr>
        <th>Name</th>
        <td><%= work_location.name %></td>
      </tr>
      <tr>
        <th>Location Type</th>
        <td><%= LocationType.find(work_location.location_type_id).descriptor rescue "N/A" %></td>
      </tr>
      <tr>
        <th>Description</th>
        <td><%= work_location.description %></td>
      </tr>
      <tr>
        <th>Address</th>
        <td><%= work_location.address %></td>
      </tr>
      <tr>
        <th>City / State / Zip</th>
        <td><%= [work_location.city, work_location.state, work_location.zip_code].compact.join(", ") %></td>
      </tr>
      <tr>
        <th>Phone</th>
        <td><%= work_location.phone_number %></td>
      </tr>
      <tr>
        <th>Website</th>
        <td><%= work_location.website %></td>
      </tr>
      <tr>
        <th>Requires Purchase</th>
        <td><%= work_location.requires_purchase ? "Yes" : "No" %></td>
      </tr>
      <tr>
        <th>Membership</th>
        <td><%= work_location.membership ? "Yes" : "No" %></td>
      </tr>
      <tr>
        <th>Owner ID</th>
        <td><%= work_location.owner_id %></td>
      </tr>
     

      <tr class="table-primary text-center">
        <th colspan="2">Hours</th>
      </tr>

      <% [
        ["Sunday", :sunday_opening_time, :sunday_closing_time, :sunday_closed],
        ["Monday", :monday_opening_time, :monday_closing_time, :monday_closed],
        ["Tuesday", :tuesday_opening_time, :tuesday_closing_time, :tuesday_closed],
        ["Wednesday", :wednesday_opening_time, :wednesday_closing_time, :wednesday_closed],
        ["Thursday", :thursday_opening_time, :thursday_closing_time, :thursday_closed],
        ["Friday", :friday_opening_time, :friday_closing_time, :friday_closed],
        ["Saturday", :saturday_opening_time, :saturday_closing_time, :saturday_closed]
      ].each do |day, open_sym, close_sym, closed_sym| %>
        <tr>
          <th><%= day %></th>
          <td>
            <% if work_location.send(closed_sym) %>
              Closed
            <% else %>
              <%= work_location.send(open_sym)&.strftime("%-I:%M %p") %> to 
              <%= work_location.send(close_sym)&.strftime("%-I:%M %p") %>
            <% end %>
          </td>
        </tr>
      <% end %>

    </tbody>
  </table>
</div>
