<div id="<%= dom_id work_location %>">
  <p>
    <strong>Location type:</strong>
    <%= work_location.location_type_id %>
  </p>

  <p>
    <strong>Wifi speed average:</strong>
    <%= work_location.wifi_speed_average %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= work_location.address %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= work_location.phone_number %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= work_location.website %>
  </p>

  <p>
    <strong>City:</strong>
    <%= work_location.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= work_location.state %>
  </p>

  <p>
    <strong>Zip code:</strong>
    <%= work_location.zip_code %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= work_location.longitude %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= work_location.latitude %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= work_location.description %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= work_location.name %>
  </p>

  <p>
    <strong>Average rating:</strong>
    <%= work_location.average_rating %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= work_location.owner_id %>
  </p>

  <p>
    <strong>Crowding average:</strong>
    <%= work_location.crowding_average %>
  </p>

  <p>
    <strong>Noise average:</strong>
    <%= work_location.noise_average %>
  </p>

  <p>
    <strong>Requires purchase:</strong>
    <%= work_location.requires_purchase %>
  </p>

  <p>
    <strong>Membership:</strong>
    <%= work_location.membership %>
  </p>

  <p>
    <strong>Sunday opening time:</strong>
    <%= work_location.sunday_opening_time %>
  </p>

  <p>
    <strong>Monday opening time:</strong>
    <%= work_location.monday_opening_time %>
  </p>

  <p>
    <strong>Tuesday opening time:</strong>
    <%= work_location.tuesday_opening_time %>
  </p>

  <p>
    <strong>Wednesday opening time:</strong>
    <%= work_location.wednesday_opening_time %>
  </p>

  <p>
    <strong>Thursday opening time:</strong>
    <%= work_location.thursday_opening_time %>
  </p>

  <p>
    <strong>Friday opening time:</strong>
    <%= work_location.friday_opening_time %>
  </p>

  <p>
    <strong>Saturday opening time:</strong>
    <%= work_location.saturday_opening_time %>
  </p>

  <p>
    <strong>Sunday closing time:</strong>
    <%= work_location.sunday_closing_time %>
  </p>

  <p>
    <strong>Monday closing time:</strong>
    <%= work_location.monday_closing_time %>
  </p>

  <p>
    <strong>Tuesday closing time:</strong>
    <%= work_location.tuesday_closing_time %>
  </p>

  <p>
    <strong>Wednesday closing time:</strong>
    <%= work_location.wednesday_closing_time %>
  </p>

  <p>
    <strong>Thursday closing time:</strong>
    <%= work_location.thursday_closing_time %>
  </p>

  <p>
    <strong>Friday closing time:</strong>
    <%= work_location.friday_closing_time %>
  </p>

  <p>
    <strong>Saturday closing time:</strong>
    <%= work_location.saturday_closing_time %>
  </p>

  <p>
    <strong>Sunday closed:</strong>
    <%= work_location.sunday_closed %>
  </p>

  <p>
    <strong>Monday closed:</strong>
    <%= work_location.monday_closed %>
  </p>

  <p>
    <strong>Tuesday closed:</strong>
    <%= work_location.tuesday_closed %>
  </p>

  <p>
    <strong>Wednesday closed:</strong>
    <%= work_location.wednesday_closed %>
  </p>

  <p>
    <strong>Thursday closed:</strong>
    <%= work_location.thursday_closed %>
  </p>

  <p>
    <strong>Friday closed:</strong>
    <%= work_location.friday_closed %>
  </p>

  <p>
    <strong>Saturday closed:</strong>
    <%= work_location.saturday_closed %>
  </p>

  <p>
    <strong>Outlet availability average:</strong>
    <%= work_location.outlet_availability_average %>
  </p>

</div>
