<% content_for :title, "Work Locations" %>

<div class="container mt-4">
  <% if notice %>
    <div class="alert alert-success text-center">
      <%= notice %>
    </div>
  <% end %>

  <h1 class="mb-4 text-center">Work Locations</h1>

  <table class="table table-bordered table-hover text-center" id="work_locations_table">
    <thead class="table-light">
      <tr>
        <th>Location Type</th>
        <th>Name</th>
        <th>Average Rating</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <% @work_locations.each do |work_location| %>
        <tr>
          <td><%= work_location.location_type.descriptor %></td>
          <td><%= work_location.name %></td>
          <td><%= work_location.average_rating.to_f.round(1) %></td>
          <td><%= link_to "Show", work_location, class: "btn btn-sm btn-outline-primary" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if user_signed_in?%>
    <div class="text-center mt-3">
      <%= link_to "New Work Location", new_work_location_path, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
