<p style="color: green"><%= notice %></p>

<h4 class="mb-4 text-center"><%= @work_location.name %></h4>
<%= render "work_locations/carosel", work_location: @work_location%>
<%= render @work_location %>

<% if user_signed_in?%>
  <div class="mb-4 text-center">
    <%= link_to "Edit this work location", edit_work_location_path(@work_location) %>
  </div>
<% end%>

<div>

  <%= render "work_locations/favorites", work_location: @work_location%>
  <% if user_signed_in?%>
    <%= render "ratings/form", rating: Rating.new(location_id: @work_location.id)%>
  <% end %>
  
  <div class="text-center">
    <h2>Ratings</h2>
  </div>
  <%= render "average_ratings", work_location:@work_location%>
  <div id="<%=dom_id(@work_location) %>_ratings-list">>
    <%= render @work_location.ratings %>
  </div>
</div>
