<p style="color: green"><%= notice %></p>

<%= render @work_location %>

<div>

  <% if user_signed_in? %>
    <% favorite_place = FavoritePlace.find_by(place_id: @work_location.id, user_id: current_user.id) %>

      <% if favorite_place.present? %>
        <%= render "favorite_places/destroy", favorite_place: favorite_place %>
      <% else %>
        <%= render "favorite_places/form", favorite_place: FavoritePlace.new(place_id: @work_location.id) %>
      <% end %>
  <% end %>

  <%= render "ratings/form", rating: Rating.new(location_id: @work_location.id)%>
  
  <div class="text-center">
    <h2>Ratings</h2>
  </div>
  <%= render "average_ratings", work_location:@work_location%>
  <%= render @work_location.ratings %>
</div>

<div>
  <%= link_to "Edit this work location", edit_work_location_path(@work_location) %> |
  <%= link_to "Back to work locations", work_locations_path %>

  <%= button_to "Destroy this work location", @work_location, method: :delete %>
</div>
