<div id="<%= dom_id rating %>">
  <p>
    <strong>User:</strong>
    <%= rating.user_id %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= rating.location_id %>
  </p>

  <p>
    <strong>Overall rating:</strong>
    <%= rating.overall_rating %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= rating.content %>
  </p>

  <p>
    <strong>Wifi rating:</strong>
    <%= rating.wifi_rating %>
  </p>

  <p>
    <strong>Crowding rating:</strong>
    <%= rating.crowding_rating %>
  </p>

  <p>
    <strong>Noise rating:</strong>
    <%= rating.noise_rating %>
  </p>

  <p>
    <strong>Outlet rating:</strong>
    <%= rating.outlet_rating %>
  </p>

  <p>
    <strong>Comfort and workspace rating:</strong>
    <%= rating.comfort_and_workspace_rating %>
  </p>

</div>
